<component name="ArtifactManager">
  <artifact type="war" name="spring4-poc:war">
    <output-path>$PROJECT_DIR$/target</output-path>
    <root id="archive" name="gs-messaging-stomp-websocket-0.1.0.war">
      <element id="artifact" artifact-name="spring4-poc:war exploded" />
    </root>
  </artifact>
</component>