<component name="ArtifactManager">
  <artifact type="war" name="spring-websocket-test:war">
    <output-path>$PROJECT_DIR$/../../spring-websocket-test/target</output-path>
    <root id="archive" name="spring-websocket-test.war">
      <element id="artifact" artifact-name="spring-websocket-test:war exploded" />
    </root>
  </artifact>
</component>